.container-advsearch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas: "hostname hostname hostname hostname hostname hostname" "ip ip ip mac mac mac" "os os os build build build" "domain domain workgroup workgroup status status" "buttons . . . . .";
}

.hostname {
    grid-area: hostname;
}

.ip {
    grid-area: ip;
}

.mac {
    grid-area: mac;
}

.os {
    grid-area: os;
}

.build {
    grid-area: build;
}

.domain {
    grid-area: domain;
}

.workgroup {
    grid-area: workgroup;
}

.status {
    grid-area: status;
}

.searchbutton {
    grid-area: searchbutton;
}

.clearbutton {
    grid-area: clearbutton;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 3px;
}

.searchbutton {
    grid-area: searchbutton;
}

.clearbutton {
    grid-area: clearbutton;
}